* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v1_391 {
    width: 100%;
    height: 4811px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1_395 {
    width: 625px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3857px;
    left: 80px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .v1_396 {
    width: 100%;
    height: 198px;
    background: url("../images/v1_396.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 32px;
    opacity: 1;
    position: absolute;
    top: 3963px;
    left: 80px;
    overflow: hidden;
  }
  .v1_397 {
    width: 405px;
    height: 198px;
    background: rgba(255,255,255,1);
    padding: 32px 32px;
    margin: 48px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
  }
  .v1_398 {
    width: 341px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 32px;
    left: 32px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v1_399 {
    width: 173px;
    height: 50px;
    background: url("../images/v1_399.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 16px;
    opacity: 1;
    position: absolute;
    top: 116px;
    left: 32px;
    overflow: hidden;
  }
  .v1_400 {
    width: 45px;
    height: 45px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 0px;
    border-radius: 50%;
  }
  .v1_401 {
    width: 112px;
    height: 50px;
    background: url("../images/v1_401.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 2px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 61px;
    overflow: hidden;
  }
  .v1_402 {
    width: 112px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v1_403 {
    width: 21px;
    color: rgba(130,130,130,1);
    position: absolute;
    top: 26px;
    left: 0px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v1_404 {
    width: 405px;
    height: 198px;
    background: rgba(255,255,255,1);
    padding: 32px 32px;
    margin: 48px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 438px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
  }
  .v1_405 {
    width: 341px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 32px;
    left: 32px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v1_406 {
    width: 88px;
    height: 50px;
    background: url("../images/v1_406.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 16px;
    opacity: 1;
    position: absolute;
    top: 116px;
    left: 32px;
    overflow: hidden;
  }
  .v1_407 {
    width: 45px;
    height: 45px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 0px;
    border-radius: 50%;
  }
  .v1_408 {
    width: 27px;
    height: 50px;
    background: url("../images/v1_408.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 2px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 61px;
    overflow: hidden;
  }
  .v1_409 {
    width: 24px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v1_410 {
    width: 27px;
    color: rgba(130,130,130,1);
    position: absolute;
    top: 26px;
    left: 0px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v1_411 {
    width: 405px;
    height: 198px;
    background: rgba(255,255,255,1);
    padding: 32px 32px;
    margin: 48px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 875px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
  }
  .v1_412 {
    width: 341px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 32px;
    left: 32px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v1_413 {
    width: 113px;
    height: 50px;
    background: url("../images/v1_413.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 16px;
    opacity: 1;
    position: absolute;
    top: 116px;
    left: 32px;
    overflow: hidden;
  }
  .v1_414 {
    width: 45px;
    height: 45px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 0px;
    border-radius: 50%;
  }
  .v1_415 {
    width: 52px;
    height: 50px;
    background: url("../images/v1_415.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 2px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 61px;
    overflow: hidden;
  }
  .v1_416 {
    width: 52px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v1_417 {
    width: 22px;
    color: rgba(130,130,130,1);
    position: absolute;
    top: 26px;
    left: 0px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v1_426 {
    width: 100%;
    height: 264px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 4547px;
    left: 0px;
    overflow: hidden;
  }
  .v1_427 {
    width: 187px;
    height: 168px;
    background: url("../images/v1_427.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 24px;
    opacity: 1;
    position: absolute;
    top: 42px;
    left: 705px;
    overflow: hidden;
  }
  .v1_428 {
    width: 187px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v1_429 {
    width: 187px;
    color: rgba(68,68,68,1);
    position: absolute;
    top: 48px;
    left: 0px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v1_430 {
    width: 187px;
    color: rgba(68,68,68,1);
    position: absolute;
    top: 96px;
    left: 0px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v1_431 {
    width: 187px;
    color: rgba(68,68,68,1);
    position: absolute;
    top: 144px;
    left: 0px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v1_533 {
    width: 262px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 77px;
    left: 92px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: TAN - NIMBUS;
    font-weight: Regular;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .v31_8 {
    width: 264px;
    color: rgba(130,130,130,1);
    position: absolute;
    top: 237px;
    left: 1158px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 11px;
    opacity: 1;
    text-align: left;
  }
  .v1_465 {
    width: 100%;
    height: 164px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1_466 {
    width: 144px;
    height: 52px;
    background: url("../images/v1_466.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 48px;
    opacity: 1;
    position: absolute;
    top: 56px;
    left: 1216px;
    overflow: hidden;
  }
  .v1_470 {
    width: 144px;
    height: 52px;
    background: rgba(64,64,64,1);
    padding: 14px 24px;
    margin: 8px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
    overflow: hidden;
  }
  .v1_471 {
    width: 96px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 14px;
    left: 24px;
    font-family: Poppins;
    font-weight: ExtraBold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v31_14 {
    width: 120px;
    height: 52px;
    background: url("../images/v31_14.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 48px;
    opacity: 1;
    position: absolute;
    top: 56px;
    left: 1066px;
    overflow: hidden;
  }
  .v31_15 {
    width: 108px;
    height: 52px;
    background: rgba(0,0,0,1);
    padding: 14px 24px;
    margin: 8px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 12px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
    overflow: hidden;
  }
  .v31_16 {
    width: 45px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 14px;
    left: 31px;
    font-family: Poppins;
    font-weight: ExtraBold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v1_467 {
    width: 49px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 75px;
    left: 734px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v1_468 {
    width: 50px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 75px;
    left: 831px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v1_469 {
    width: 83px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 75px;
    left: 929px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v1_472 {
    width: 332px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 42px;
    left: 81px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: TAN - NIMBUS;
    font-weight: Regular;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .v31_2 {
    width: 332px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 42px;
    left: 81px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: TAN - NIMBUS;
    font-weight: Regular;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .v1_473 {
    width: 100%;
    height: 686px;
    background: url("../images/v1_473.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 572px;
    left: 76px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }
  .v31_9 {
    width: 100%;
    height: 686px;
    background: url("../images/v31_9.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1_474 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1514px;
    left: 177px;
    font-family: Poppins;
    font-weight: ExtraBold;
    font-size: 96px;
    opacity: 1;
    text-align: left;
  }
  .v1_492 {
    width: 624px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3082px;
    left: 80px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .v1_493 {
    width: 100%;
    height: 525px;
    background: url("../images/v1_493.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 31px;
    opacity: 1;
    position: absolute;
    top: 3188px;
    left: 80px;
    overflow: hidden;
  }
  .v1_494 {
    width: 624px;
    height: 525px;
    background: url("../images/v1_494.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 32px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1_495 {
    width: 624px;
    height: 341px;
    background: url("../images/v1_495.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }
  .v27_2 {
    width: 734px;
    height: 564px;
    background: url("../images/v27_2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 111px;
    left: 55px;
    overflow: hidden;
  }
  .v1_496 {
    width: 548px;
    height: 152px;
    background: url("../images/v1_496.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 8px;
    opacity: 1;
    position: absolute;
    top: 373px;
    left: 0px;
    overflow: hidden;
  }
  .v1_497 {
    width: 548px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v1_498 {
    width: 548px;
    color: rgba(130,130,130,1);
    position: absolute;
    top: 44px;
    left: 0px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v1_499 {
    width: 624px;
    height: 525px;
    background: url("../images/v1_499.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 32px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 656px;
    overflow: hidden;
  }
  .v1_500 {
    width: 624px;
    height: 341px;
    background: url("../images/v1_500.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }
  .v9_540 {
    width: 643px;
    height: 489px;
    background: url("../images/v9_540.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 44px;
    left: 8px;
    overflow: hidden;
  }
  .v1_501 {
    width: 547px;
    height: 152px;
    background: url("../images/v1_501.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 8px;
    opacity: 1;
    position: absolute;
    top: 373px;
    left: 0px;
    overflow: hidden;
  }
  .v1_502 {
    width: 548px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v1_503 {
    width: 548px;
    color: rgba(130,130,130,1);
    position: absolute;
    top: 44px;
    left: 0px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v1_504 {
    width: 624px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2169px;
    left: 80px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .v1_505 {
    width: 516px;
    height: 619px;
    background: url("../images/v1_505.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 48px;
    opacity: 1;
    position: absolute;
    top: 2293px;
    left: 80px;
    overflow: hidden;
  }
  .v1_506 {
    width: 516px;
    height: 152px;
    background: url("../images/v1_506.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 8px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1_507 {
    width: 515px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v1_508 {
    width: 515px;
    color: rgba(130,130,130,1);
    position: absolute;
    top: 44px;
    left: 0px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v1_509 {
    width: 516px;
    height: 152px;
    background: url("../images/v1_509.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 8px;
    opacity: 1;
    position: absolute;
    top: 200px;
    left: 0px;
    overflow: hidden;
  }
  .v1_510 {
    width: 515px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v1_511 {
    width: 515px;
    color: rgba(130,130,130,1);
    position: absolute;
    top: 44px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v1_512 {
    width: 516px;
    height: 224px;
    background: url("../images/v1_512.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 8px;
    opacity: 1;
    position: absolute;
    top: 400px;
    left: 0px;
    overflow: hidden;
  }
  .v1_513 {
    width: 516px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v1_514 {
    width: 516px;
    color: rgba(130,130,130,1);
    position: absolute;
    top: 44px;
    left: 0px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v1_520 {
    width: 100%;
    height: 236px;
    background: rgba(247,247,247,1);
    opacity: 1;
    position: absolute;
    top: 4311px;
    left: 0px;
    overflow: hidden;
  }
  .v1_521 {
    width: 276px;
    height: 76px;
    background: url("../images/v1_521.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 24px;
    opacity: 1;
    position: absolute;
    top: 80px;
    left: 1084px;
    overflow: hidden;
  }
  .v1_522 {
    width: 123px;
    height: 76px;
    background: rgba(0,0,0,1);
    padding: 20px 32px;
    margin: 8px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
    overflow: hidden;
  }
  .v1_523 {
    width: 59px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 20px;
    left: 32px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v1_524 {
    width: 129px;
    height: 76px;
    background: rgba(230,230,230,1);
    padding: 20px 32px;
    margin: 8px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 147px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
    overflow: hidden;
  }
  .v1_525 {
    width: 65px;
    color: rgba(0,0,0,0.8999999761581421);
    position: absolute;
    top: 20px;
    left: 32px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v1_526 {
    width: 625px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 89px;
    left: 80px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .v1_527 {
    width: 844px;
    height: 272px;
    background: url("../images/v1_527.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 40px;
    opacity: 1;
    position: absolute;
    top: 212px;
    left: 79px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v1_528 {
    width: 844px;
    height: 156px;
    background: url("../images/v1_528.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 24px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1_529 {
    width: 844px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 64px;
    opacity: 1;
    text-align: left;
  }
  .v1_530 {
    width: 844px;
    color: rgba(0,0,0,0.75);
    position: absolute;
    top: 120px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v1_531 {
    width: 174px;
    height: 76px;
    background: rgba(0,0,0,1);
    padding: 20px 32px;
    margin: 8px;
    opacity: 1;
    position: absolute;
    top: 196px;
    left: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
    overflow: hidden;
  }
  .v1_532 {
    width: 110px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 20px;
    left: 32px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v4_535 {
    width: 580px;
    height: 769px;
    background: url("../images/v4_535.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2154px;
    left: 780px;
    overflow: hidden;
  }