/*efeitos globais */

@font-face {
    font-family: 'MinhaFonte';
    src: url('/fontes/TAN-NIMBUS.otf') format('opentype');
}

* { 
    margin: 5px;
    padding: 5px;
    font-family: 'Poppins';
    box-sizing: border-box;
}
body {
    margin: 10px;
    padding: 10px;
    background-color: #f5f3ef;
}

/*---------------------------------*/

/*MENU*/

header, main {
    border-top: 2px solid black; /*linha horizontal para separar o menu da pagina em si*/
}

.destaqueCOMHOVER {
    font-size: xxx-large;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
    font-size: 2em;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.8; /* Opacidade inicial */
}

.destaqueCOMHOVER:hover {
    transform: scale(1.2); /* Aumenta o tamanho */
    opacity: 1; /* Aumenta a opacidade */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul ol {
    display:inline-flex;
}

nav ul ol a {
    color: black;
    text-decoration:none; /* Remove o sublinhado */
}

nav ul ol a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

/*---------------------------------*/

/*ESTILOS DE BOTÕES*/

.button {
    color: white;
    border-radius: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color: black;
    text-decoration:none;
}

.button:hover {
    text-decoration:underline;
}

.button2 {
    background-color: #000;
    color: #f5f3ef;  
    width: 150px;
    height: 50px;
    color: white;
    border-radius: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color: black;
    text-decoration:none;
    font-size:medium;
}

/*---------------------------------*/

/* CLASS PARA USAR EM TEXTOS*/

.fundopreto {
    color: white;
    border-radius: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color: black;
}

.fundocinza {
    color: white;
    background-color: #414141;
    border-radius: 5px;
    border-top: 2px solid #414141;
    border-bottom: 2px solid #414141;
    border-left: 2px solid #414141;
    border-right: 2px solid #414141;
    background-color: #414141;
}

.destaque {
    font-size: xxx-large;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.destaque2 {
    font-size: xxx-large;
    display: flex;
    justify-content: space-between; 
    padding: 10px; 
}

.destaque3 {
    font-size: large;
    display: flex; 
    justify-content: space-between;
    padding: 10px;
}

.textopadrao {
    font-size: medium;
    font-style: normal;
    display: flex;
    justify-content: space-between; 
}

/*---------------------------------*/



/*PARTE 1 INDEX: COMPARTILHE*/

.segmento1 { 
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
    align-items: center;
} /*edições do bloco de texto*/

.segmento2 {
    display: flex;
    align-items:start;
    justify-content: space-between;
    margin: 0 auto; 
    padding: 20px;
} /*edições da imagem azul*/

/*---------------------------------*/



.cortarfoto {
    justify-content: center;
    height: 470px;
    overflow: hidden;
    align-items: center;
    padding: 20px;
    max-width: 564px;
    object-fit: cover;
    padding: 20px;
    display: flex;
}

.block {
    background-color: #efece6;
    padding: 10px;
    align-items:center;
    display: flex;
}

.feedback {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 10px;
    width: 350px;
    height: 150px;
    padding: 10px;
    align-content: start;
    display: inline;
    justify-content: space-between
}


/*FOOTER ESTILO*/

footer {
    background-color: black;
    color: #f5f3ef;
    display: flex; /* Ativa o Flexbox */
    justify-content: space-between; /* Espaça os itens */
    padding: 10px; /* Adiciona um pouco de espaçamento interno */
}

footer nav ul ol{
    display:flex;
}

footer nav ul ol a{
    color: #454545;
    list-style-type: none;
}

.termos{
    border-bottom: 2px solid #454545; /*linha horizontal para separar o menu da pagina em si*/
    background-color: black;
    color: #f5f3ef;
    display: flex; /* Ativa o Flexbox */
    justify-content: space-between; /* Espaça os itens */
    padding: 10px; /* Adiciona um pouco de espaçamento interno */
    align-items: end;
    font-size: xx-small;
}

