* {
    font-family: Arial, Helvetica, sans-serif;
}

body,  h1, h2, p, ul, #agendamento {
    margin: 10px;
    padding: 10px;
   }

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

header {
    background-color: #073A69;
    background-size: 40%;
    padding: 10px;
}
    
body h1 {
    font-family: sans-serif;
}

main section:hover {
    transform: scale(1.02);
}

section {
    padding: 2%;
    background-color: white;
    margin: 10%;
    max-width: 5%;
    box-shadow: 0 0 15px rgba(0,0,0, 0.1);
    border-radius: 10px;
}


footer {
    background-color: #073A69;
    color: #f5f3ef;
    display: flex; /* Ativa o Flexbox */
    justify-content: space-between; /* Espaça os itens */
    padding: 10px; /* Adiciona um pouco de espaçamento interno */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

footer nav ul ol{
    display: block;
    color: #073A69;
    list-style-type: none;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.termos{
    background-color: #073A69;
    color: #f5f3ef;
    display: flex; /* Ativa o Flexbox */
    justify-content: space-between; /* Espaça os itens */
    padding: 10px; /* Adiciona um pouco de espaçamento interno */
    align-items: end;
    font-size: small;
}

nav ul ol {
    display: inline-block; /* Exibe os itens em linha */
    justify-content: space-between; /* Espaça os itens */
}

nav ul ol a {
    color:#f5f3ef;
    text-decoration: none; /* Remove o sublinhado */
}

nav ul ol a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

.container {
    display:inline-flex; 
    align-items: center; /* Centraliza os links no meio em relação a imagem */
    justify-content: space-between;
}

.container h1 {
    font-family: 'MinhaFonte', sans-serif;
    color: #f5f3ef;
}

.destaque {
    font-size: xx-large;
    color: #f5f3ef;
}

.carrossel {
    position: relative;
    max-width: 50%;
    min-width: 50%;
    margin: auto;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 10px; /* Adiciona cantos arredondados, se desejado */
    padding: 10px; /* Espaço interno */
    box-sizing: border-box; /* Inclui a borda e o padding no tamanho total */
}

.carrossel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrossel-imagem {
    width: 100%; /* Faz com que a imagem ocupe toda a largura do carrossel */
    display: flex; /* Para centralizar a imagem */
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
}

.carrossel img {
    width: 100%; /* As imagens ocuparão 100% da largura da div pai */
    object-fit: cover;
}

.carrossel-anterior, .carrossel-seguinte{

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba( 0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    z-index: 1;

}

.carrossel-anterior{
    left: 10px;
}

.carrossel-seguinte{
    right: 10px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}