.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body h1 {
    font-family: Ubuntu;
}

footer {
    background-color: #073A69;
    color: #f5f3ef;
    display: flex; /* Ativa o Flexbox */
    justify-content: space-between; /* Espaça os itens */
    padding: 10px; /* Adiciona um pouco de espaçamento interno */
}

footer nav ul ol{
    display: block;
    color: #073A69;
    list-style-type: none;
}

.termos{
    background-color: #073A69;
    color: #f5f3ef;
    display: flex; /* Ativa o Flexbox */
    justify-content: space-between; /* Espaça os itens */
    padding: 10px; /* Adiciona um pouco de espaçamento interno */
    align-items: end;
    font-size: small;
}

nav ul ol {
    display: inline-block; /* Exibe os itens em linha */
    justify-content: space-between; /* Espaça os itens */
}

nav ul ol a {
    color: #073A69;
    text-decoration: none; /* Remove o sublinhado */
}

nav ul ol a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

.container {
    display: flex; 
    align-items: center; /* Centraliza os links no meio em relação a imagem */
}

.container h1 {
    font-family: 'MinhaFonte', sans-serif;
    color: #073A69;
}

.destaque {
    font-size: xxx-large;
    text-shadow: 0px 2px 1px rgba(255, 255, 255, 0.5);
}
