*{
margin: 0%;
padding: 0%;
}

body {
    background-color: #F5F5F5;
}

body h1 {
 font-family: 'Yeseva One, sans-serif';
 font-size: 20px;
}

footer {
    background-color: #171725;
    color: #FFFFFF;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.termos{
    margin-left: auto;
}

.container {
    display: flex;
    height: 100vh;
}